<div class="modal-header" style="border-bottom: 0px; padding-left: 0px;">
  <h4 id="titolo" style="color: black; font-family: Roboto;" class="modal-title">
    {{data?.titolo}}
  </h4>
  <button style="outline: none;" type="button" class="close" aria-label="Close"
      (click)="annulla()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- <h1 mat-dialog-title class="titolo">{{data?.titolo}}</h1> -->

<div mat-dialog-content style="border-bottom: 1px solid #dee2e6;
border-top: 1px solid #dee2e6;">
  <div class="row" style="padding-top:10px; padding-bottom:10px;">
    <p class="messaggio" [innerHTML]="data.messaggio">
      <!-- {{data.messaggio}} -->
    </p>
  </div>
  <div class="row" style="padding-top:10px; padding-bottom:10px;">
    <p class="messaggio">Vuoi procedere?</p>
  </div>
</div>

<div mat-dialog-actions  style="padding-bottom: 20px;
padding-top: 20px;">
  <div class="col-md-4">
    <button class="btn btn-link" (click)="annulla()">
      ANNULLA
    </button>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" mat-stroked-button (click)="conferma()" cdkFocusInitial>
      CONFERMA
    </button>
  </div>
  <div class="col-md-4"></div>
</div> 
