.titolo{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 22px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #0066FF;
	opacity: 1;
	text-align: center;
}

.cdk-global-overlay-wrapper {
	display: flex;
	position: absolute;
	z-index: 1000;
	overflow: auto;
	pointer-events: auto;  
}

.bottoni{
	text-align: center;
	width:140px;
	height:40px;
	/* margin:50px; */
	margin-top: 20px;
	background: white 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	color: #1E1E1E;
    opacity: 1; 
    font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	letter-spacing: 0px;	
}	
	
.bottoniok{
	text-align: center;
	width:140px;
	height:40px;
	margin-top: 20px;
	margin-left:15px;
	background: #006CB4 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	color: #FFFFFF;
    opacity: 1; 
    font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	letter-spacing: 0px;	
}	

.messaggio{
	font: normal normal normal 16px/22px 'Open Sans', sans-serif;
	text-align: left;
	line-height: 35px;
	letter-spacing: 0px;
	color: #333333;
	opacity: 1;
}

.testo {
	text-align: left;
	font: normal normal normal 14px/19px 'Open Sans', sans-serif;
	letter-spacing: -0.07px;
	color: #212529;
	opacity: 1;
}