<div class="modal-header" style="border-bottom: 0px; padding-left: 0px;">
  <h4 id="titolo" style="color: black; font-family: Roboto;" class="modal-title">
    {{data?.titolo}}
  </h4>
  <button style="outline: none;" type="button" class="close" aria-label="Close" (click)="annulla()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- <h1 mat-dialog-title class="titolo">{{data?.titolo}}</h1> -->

<div mat-dialog-content style="border-bottom: 1px solid #dee2e6;
border-top: 1px solid #dee2e6;">
  <form [formGroup]="profiloForm" class="w-100">
    <div class="row" style="padding-top:10px; padding-bottom:10px;">
      <div class="col-md-6">
        <div class="form-group">
          <label class="inputLabel">Codice *</label>
          <input id="codProfilo" class="form-control" maxlength="40" formControlName="codProfilo" type="text">
        </div>
      </div>
      <div class="col-md-6 testo">
        <div class="form-group">
          <label class="inputLabel">Descrizione *</label>
          <input id="descProfilo" class="form-control" formControlName="descProfilo" type="text">
        </div>
      </div>
    </div>
    <div class="col-md-12" style="padding-bottom: 20px;">
      <label class="filterLabel">Copia da: </label>
      <ng-container>
        <select (change)="onSelectionChangedProfili($event.target.value)" [disabled]="verificaZeroAzioni()"
          class="form-control form-control-sm statoCombo campiricerca">
          <option [value]="0">Nessun Profilo</option>
          <option *ngFor="let profilo of data.profili" [value]="profilo.idProfilo">{{profilo.codProfilo}} -
            {{profilo.descProfilo}}</option>
        </select>
      </ng-container>
    </div>
  </form>
</div>

<div mat-dialog-actions style="padding-bottom: 20px;
padding-top: 20px;">
  <div class="col-md-4">
    <button class="btn btn-link" (click)="annulla()">
      ANNULLA
    </button>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" style="float: right;" mat-stroked-button (click)="conferma()" cdkFocusInitial [disabled]="VerificaValidita()">
      SALVA
    </button>
  </div>
  <div class="col-md-4"></div>
</div>