<div class="modal-header" style="border-bottom: 0px; padding-left: 0px;">
  <h4 id="titolo" style="color: black; font-family: Roboto;" class="modal-title">
    {{data?.titolo}}
  </h4>
  <button style="outline: none;" type="button" class="close" aria-label="Close"
      (click)="chiudiMotivazione()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- <h1 mat-dialog-title class="testo">{{data?.titolo}}</h1> -->
<div mat-dialog-content style="border-bottom: 1px solid #dee2e6;
border-top: 1px solid #dee2e6;">

  <div class="row" style="padding-top:10px; padding-bottom:10px; background:#F0F3F8;" *ngIf="data.maxlength">
      <textarea style="margin-left:20px; margin-right:20px" id="motivazione" [(ngModel)]="data.motivazione" 
        class="form-control" [placeholder]="data.placeholder" [maxLength]="data.maxlength">
    </textarea>
  </div>

  <div class="row" style="padding-top:10px; padding-bottom:10px; background:#F0F3F8;" *ngIf="!data.maxlength">
    <textarea style="margin-left:20px; margin-right:20px" id="motivazione" [(ngModel)]="data.motivazione" 
      class="form-control" [placeholder]="data.placeholder">
    </textarea>
</div>

</div>

<div mat-dialog-actions >
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <button class="btn btn-primary" style="
    float: right;" mat-stroked-button (click)="chiudiMotivazione()">
      CHIUDI
    </button>
  </div>
</div> 
