<div class="modal-header">
    <h4 id="titolo" style="color: black; font-family: Roboto;" class="modal-title">
        RIPRISTINA ENTE
    </h4>
    <button style="outline: none;" type="button" class="close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row greg" style="padding-top: 5px; padding-bottom: 5px; background-color: white !important;">
    <div class="modal-body" style="overflow-x: auto; position: relative;">

        <div class="row">

            <div class="col-md-12">
                <h4>Sei sicuro di voler "ripristinare" l'Ente?</h4>
            </div>
            <form [formGroup]="ripristinoForm">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Data ripristino *</mat-label>
                            <input matInput [matDatepicker]="pickerDataChiusura" userInputFormat="DD/MM/YYYY"
                                formControlName="dataRipristino" [min]="dataSistema" placeholder="dd-mm-yyyy" disabled>
                            <mat-datepicker-toggle matSuffix [for]="pickerDataChiusura">
                            </mat-datepicker-toggle>
                            <mat-datepicker #pickerDataChiusura></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                          <mat-label>Motivazione *</mat-label>
                          <mat-select formControlName="motivazione" >
                            <mat-option *ngFor="let motivazione of listaMotivazioni" [value]="motivazione.codMotivazione">
                               {{motivazione.descMotivazione}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                      </div>
                </div>

                <div class="col-md-12">
                    <h4>Nota</h4>
                </div>

                <div class="col-md-12">
                    <div class="col-6">
                        <mat-form-field >
                          <mat-label *ngIf="client.azioni.get('CronologiaRegionale')[1]">per Ente *</mat-label>
                          <textarea matInput type="text" formControlName="notaEnte"></textarea>
                         </mat-form-field>
                    </div>

                </div>

                <div class="col-md-12" *ngIf="client.azioni.get('CronologiaRegionale')[1]">
                    <div class="col">
                        <label style="white-space: nowrap;">Interna</label>
                    </div>


                    <div class="col-6">
                        <mat-form-field >
                          <mat-label>Interna</mat-label>
                          <textarea matInput type="text" formControlName="notaInterna"></textarea>
                         </mat-form-field>
                    </div>

                </div>
            </form>
        </div>


    </div>
</div>

<div class="modal-footer">
    <div class="col-md-2"></div>

    <div class="row col-md-12 button">

        <div class="row col-md-12">
            <div class="col">
                <button id="btnClose" type="submit" class="btn btn-link"
                    (click)="activeModal.dismiss('Cross click')">
                    NO
                </button>
            </div>
            <div class="col ">
                <button id="btnSave" type="submit" class="btn btn-primary button1" (click)="conferma()">
                    SI
                </button>
            </div>
        </div>

    </div>

    <div class="col-md-2"></div>
</div> 