<div class="footer">
	<div class="row assistenza" style="padding-top: 15px; padding-bottom: 15px;">
		<div class="col-md-1"></div>
		
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-4 align_center">
					<img class="img-fluid" src="assets/img/user/logo_regionepiemonte.png">
				</div>
				<div class="col-md-8" style="text-align: right;" >
					<div class="acolorato" [innerHTML]="assistenza"></div>
				</div>
			</div>

		</div>
					
		<div class="col-md-1"></div>
	</div>

	<div class="row sistpiemonte" style="padding-top: 15px; padding-bottom: 15px;">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row space_b">
				<div class="col-md-4" style="padding-left: 0px;">
					<strong>
						<label class="font-17">
							{{ sistema }}
						</label>
					</strong>
					<br>
					<label class="font-9">
						{{ servizio }}
						<br>
						{{ pIva }}
					</label>
				</div>
				<div class="col-md-3">
					<img style="float: right;" class="img-fluid" src="assets/img/user/logo_csi.png">
				</div>

			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>