<div class="modal-header" style="border-bottom: 0px; padding-left: 0px;">
  <h4 id="titolo" style="color: black; font-family: Roboto;" class="modal-title">
    {{data?.titolo}}
  </h4>
  <button style="outline: none;" type="button" class="close" aria-label="Close" (click)="annulla()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- <h1 mat-dialog-title class="titolo">{{data?.titolo}}</h1> -->

<div mat-dialog-content style="border-bottom: 1px solid #dee2e6;
border-top: 1px solid #dee2e6;">
  <form [formGroup]="utenteForm" class="w-100">
    <div class="row" style="padding-top:10px; padding-bottom:10px;">
      <div class="col-md-6 testo">
        <div class="form-group">
          <label class="inputLabel">Cognome *</label>
          <input id="cognome" class="form-control" maxlength="40" formControlName="cognome" type="text">
        </div>
        <span class="spanDanger" *ngIf="utenteForm.get('cognome').value && !utenteForm.get('cognome').valid">
          Il campo deve essere di massimo 40 caratteri testuali
        </span>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="inputLabel">Nome *</label>
          <input id="nome" class="form-control" maxlength="40" formControlName="nome" type="text">
        </div>
        <span class="spanDanger" *ngIf="utenteForm.get('nome').value && !utenteForm.get('nome').valid">
          Il campo deve essere di massimo 40 caratteri testuali
        </span>
      </div>
    </div>
    <div class="row" style="padding-top:10px; padding-bottom:10px;">
      <div class="col-md-6 testo">
        <div class="form-group">
          <label style="white-space: nowrap;" class="inputLabel">Codice Fiscale *</label>
          <input id="codiceFiscale" class="form-control" maxlength="16" formControlName="codiceFiscale" type="text">
        </div>
        <span class="spanDanger"
          *ngIf="utenteForm.get('codiceFiscale').value && !utenteForm.get('codiceFiscale').valid">
          Il campo deve essere di massimo 16 numeri
        </span>
      </div>
      <div class="col-md-6 testo">
        <label class="inputLabel">Email *</label>
        <input id="email" class="form-control" formControlName="email" type="text">

        <span class="spanDanger" *ngIf="utenteForm.get('email').value && !utenteForm.get('email').valid">
          Il formato dei dati inseriti non e' corretto
        </span>
      </div>

    </div>
  </form>

  <div class="row">
    <div class="col-md-4 columns_header">
      Profilo
    </div>
    <div class="col-md-4 columns_header">
      Lista
    </div>
    <div class="col-md-2 columns_header">
      Inizio Validita'
    </div>
    <div class="col-md-2 columns_header">

    </div>
    <ng-container *ngFor="let a of utente?.abilitazioni; let j=index">
      <div class="col-md-4 smarttable riga-totale-azzurra py-3">
        <ng-container>
          <select [(value)]="a.profilo.id" (change)="onSelectionChangedProfilo($event.target.value, j)"
            class="form-control form-control-sm statoCombo campiricerca">
            <option [value]="0">Nessun Profilo</option>
            <option *ngFor="let profilo of data.profili" [value]="profilo.id">{{profilo.codice}} -
              {{profilo.descrizione}}</option>
          </select>
        </ng-container>
      </div>
      <div class="col-md-4 smarttable riga-totale-azzurra py-3">
        <ng-container>
          <select [(value)]="a.lista.id" (change)="onSelectionChangedLista($event.target.value, j)"
            class="form-control form-control-sm statoCombo campiricerca">
            <option [value]="0">Nessuna Lista</option>
            <option *ngFor="let lista of data.liste" [value]="lista.id">{{lista.codice}} -
              {{lista.descrizione}}
            </option>
          </select>
        </ng-container>
      </div>
      <div class="col-md-2 smarttable riga-totale-azzurra">
        <mat-form-field class="w-100">
          <input class="testo" matInput [matDatepicker]="pickerDataDal" userInputFormat="DD/MM/YYYY"
           [(ngModel)]="a.dataInizioValidita">
          <mat-datepicker-toggle matSuffix [for]="pickerDataDal">
          </mat-datepicker-toggle>
          <mat-datepicker #pickerDataDal></mat-datepicker>
      </mat-form-field>
      </div>
      <div class="col-md-2 smarttable riga-totale-azzurra">
        <button type="button" class="btn" data-toggle="tooltip" title="Elimina abilitazione"
          (click)="eliminaAbilitazione()">
          <img src="assets/img/ui-modelli/cestino.svg" class="greg-icon-help fnpsImage"
            style="cursor: pointer; padding: 0px">
        </button>
      </div>
    </ng-container>
    <div class="col-md-5 smarttable riga-totale-azzurra">
    </div>
    <div class="col-md-5 smarttable riga-totale-azzurra">
    </div>
    <div class="col-md-2  smarttable riga-totale-azzurra">
      <button type="button" class="btn" data-toggle="tooltip" title="Aggiungi abilitazione"
        (click)="aggiungiAbilitazione()">
        <img src="assets/img/ui-modelli/plus_button.svg" class="greg-icon-help fnpsImage"
          style="cursor: pointer; padding: 0px">
      </button>
    </div>
  </div>


</div>

<div mat-dialog-actions style="padding-bottom: 20px;
padding-top: 20px;">
  <div class="col-md-4">
    <button class="btn btn-link" (click)="annulla()">
      ANNULLA
    </button>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" style="float: right;" mat-stroked-button (click)="conferma()" cdkFocusInitial
      [disabled]="VerificaValidita()">
      SALVA
    </button>
  </div>
  <div class="col-md-4"></div>
</div>