/*
 Copyright Regione Piemonte - 2024
 SPDX-License-Identifier: EUPL-1.2
*/

.gregBar{
    background-color: #0381d6;
    color: white;
    font-size: 1.3rem;
    padding-bottom: 5px;
    padding-top: 5px;
}

.tool-bar {
    background-color: #0381d6;
    color: white;
    font-size: 1.3rem;
}

.color-tendina-esci {
	color: #0381d6 !important;
	font-weight: bold !important;
}

.d-inline-block {
    display: inline-block !important;
}

.gregBarContainer {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
}

::ng-deep.mat-toolbar-multiple-rows {
	min-height: 60px !important;
}

::ng-deep.mat-toolbar-row {
	height: 60px !important;
}

.circle {
    position: relative;
    margin-left: 25px;
    width: 40px;
    height: 40px;
  }