<div class="contenitore">
	<div class="row greg" style="padding-top: 20px; padding-bottom: 5px;">

		<div class="col-md-1"></div>

		<div class="col-md-10" *ngIf="((utente?.listaprofili.length>1) || (utente?.listaprofili.length==1 && utente?.listaprofili[0].listaenti.length>1)) && !client.nuovaPrestazione">
			<button type="button" class="btn btn-link pl-0" (click)="backButton()">
				<span class="fas fa-chevron-left"></span>
				<span style="margin-bottom: 10px; margin-left: 10px;"></span>
				Home
			</button>
			
		</div>
		<div class="col-md-10" *ngIf="client.nuovaPrestazione">
			<button type="button" class="btn btn-link pl-0" (click)="backConfiguratore()" >
				<span class="fas fa-chevron-left"></span>
				<span style="margin-bottom: 10px; margin-left: 10px;"></span>
				Indietro
			</button>
		</div>
		
		<!-- <div class="col-md-5 align-self-end">
			<span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Seleziona tutti gli Enti" style="float: right;">
				<button id="btnCreaEnte" type="submit" class="btn btn-primary bottonifunzione" (click)="creaNuovoEnte()" disabled *ngIf="!disableButton">
					Nuovo Ente
				</button>
			</span>
		</div> -->

		<div class="col-md-1"></div>

	</div>

	<div id="overlay" style="display:none;">
		<div class="spinner-grow text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
		<br/>
		Caricamento del sistema in corso...
	</div>

	<app-tab-operatore></app-tab-operatore>
	<router-outlet (activate)="onActivate($event)"></router-outlet>
</div>