.warning{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	line-height: 35px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #000000DE;
	opacity: 1;
	background: #FDF9E5 0% 0% no-repeat padding-box;
}

.ok{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	line-height: 35px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #000000DE;
	opacity: 1;
	background: #DFF0D9 0% 0% no-repeat padding-box;
}

.error{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	line-height: 35px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #000000DE;
	opacity: 1;
	background: #FEE7E8 0% 0% no-repeat padding-box;
}

.titoloer{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 35px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #000000DE;
	opacity: 1;
}
.titolowr{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 35px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #000000DE;
	opacity: 1;
}
.testo{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 22px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #0066FF;
	opacity: 1;
}
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;  
}

.bottoni{
	text-align: center;
	width:140px;
	height:40px;
	margin:50px;
	background: white 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	 color: #1E1E1E;
     opacity: 1; 
     font-family: 'Open Sans', sans-serif;
	 font-size: 18px;
	 line-height: 22px;
	 font-weight: normal;
	letter-spacing: 0px;	
	}	
	
	.bottoniok{
	text-align: center;
	width:140px;
	height:40px;
	margin:50px;
	background: #006CB4 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	 color: #FFFFFF;
     opacity: 1; 
     font-family: 'Open Sans', sans-serif;
	 font-size: 18px;
	 line-height: 22px;
	 font-weight: normal;
	letter-spacing: 0px;	
	}	

	.check{
		font-family: 'Open Sans', sans-serif;
		font-size: 28px;
		line-height: 35px;
		font-weight: normal;
		letter-spacing: 0px;
		color: #000000DE;
		opacity: 1;
		background: #DBEEF7 0% 0% no-repeat padding-box;
	}

	ul{
		margin-bottom: 0px;
	}