
/* Gestione MEDIA  */
@media screen and (max-width: 1470px){
	.millequattro{
		display: none;
	}
}
@media screen and (max-width: 1340px){
	.milletre{
		display: none;
	}
}
@media screen and (max-width: 1250px){
	.milledue{
		display: none;
	}
}
@media screen and (max-width: 1000px){
	.mille{
		display: none;
	}
}

.greg {
	background: #F0F3F8 !important;
	color: #000000 !important;
	font-family: 'Open Sans', sans-serif;
}

.gregTabs {
	font-size: 16px;
}

#miatab{
	font-size: 14px;
	background: white;
	text-align: center;
}

.gregFilter {
	padding-top: 10px;
	padding-bottom: 10px;
	/* margin-top: 10px;
	margin-bottom: 10px; */
	background: white;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(213, 213, 213);
}


.theme-exprivia-healthcare .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
	{
	/* color: #1154a2; */
	border-bottom: 3px solid #1154a2 !important;
	border-top: #d5d5d5;
	border-left: none;
	border-right: none;
	background-color: transparent;
}

a {
	color: #0E8EAB;
}

.verticalCentered {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}

::ng-deep .odd {
	display: none
}


table.dataTable tbody th,
table.dataTable tbody td {
  padding: 1px 1px !important;
  vertical-align: middle !important;
}

.input-group {
    flex-wrap: initial !important;
}

.button {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button1 {
	float: right;
}

.block {
	display: block;
	width: 100%;
	border: none;
	cursor: pointer;
	text-align: center;
}

.divcenter {
	height: 100%;
	/* align-content: center;
	vertical-align: middle; */
	/* display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center; */
	/* margin-top: 20px; */
}


.greg-mod-c-section-1{
	background: #DBEEF7 0% 0% no-repeat padding-box;
	margin: 0px 20px;
	padding: 15px 0;
	width: 100%;
	opacity: 1;
}

.greg-mod-c-section-2{
	background: #DFF0D9 0% 0% no-repeat padding-box;
	margin: 0px 20px;
	padding: 15px 0;
	width: 100%;
	opacity: 1;
}

.fontbold {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.greg-icon-help{
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.right-delimiter-totali {
	border-right: 1px solid #808080;
}

.greg-modelloa-number-right{
	text-align: right;
}

.totali-header {
	text-align: center; 
	font-size: 22px;
}

.greg-modelloc-tbl-riga-header{
	background: #EEEEEE 0% 0% no-repeat padding-box;
	border: 0px  #EAEAEA !important;
	opacity: 1;
}

.testo-modello-c{
	text-align: left;
	font: normal normal bold 16px/22px 'Open Sans', sans-serif;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.testo-norm-modello-c{
	text-align: left;
	vertical-align: middle;
	font: normal normal normal 16px/22px 'Open Sans', sans-serif;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.greg-modelloalld-table{
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	box-shadow: 1px 2px 8px #c4c4c4;
	border-radius: 5px;
}

.greg-modelloalld-no{
	padding-top: 10px;
	padding-bottom: 10px;
}

tr {
	border: none !important;
}

td {
	border: none !important;
}

.tbl-descrizione {
	font-size: 13px !important;
	/* display: flex !important; */
}

.redText {
	font: normal normal normal 13px/19px 'Open Sans', sans-serif;
	letter-spacing: -0.06px;
	color: #B8191A;
	opacity: 1;
}

.redTextBold {
	text-align: left;
	font: normal normal bold 16px/22px 'Open Sans', sans-serif;
	letter-spacing: 0px;
	color: #ff0000;
	opacity: 1;
}

.inputF{
	font: normal normal normal 13px/19px 'Open Sans', sans-serif;
	letter-spacing: -0.06px;
	color: #212529;
	opacity: 1;
}

input.fake:read-only {
    background-color: white;
}

input.fake:disabled {
    background: rgba(160, 160, 160, .25);
}

textarea.fake:read-only {
    background-color: white;
}

textarea.fake:disabled {
    background: rgba(160, 160, 160, .25);
}

.prest-color-nucleo1{
	background-color: #90DBFF;
	border-bottom: 0px solid #dee2e6 !important;
	border-top: 1px solid #90DBFF !important;
}

.prest-color-nucleo2{
	background-color: #61B87A;
	border-bottom: 0px solid #dee2e6 !important;
	border-top: 1px solid #61B87A !important;
}

.dettagli-utenze-dispari{
	background-color: #DFF0D9;
}

.colonna-totale{
	background-color: #B9B9B9;
}

.campo-totale-disabilita{
	border-top: 5px solid #006CB4;
	color: black;
}

.campo-totale-dettagli-disabilita{
	border-top: 5px solid #F7BE36;
	color: black;
}

.campo-totale-disabilita[disabled]{
	border-top: 5px solid #006CB4;
	background: #ffffff 0% 0% no-repeat padding-box;
	color: black;
}

.campo-totale-dettagli-disabilita[disabled]{
	border-top: 5px solid #F7BE36;
	background: #ffffff 0% 0% no-repeat padding-box;
	color: black;
}

.max-dim{
	width: 10%;
}

.noBack{
	background: none;
}

.aree-td{
	border: 1px solid #EAEAEA !important;
	opacity: 1;
}

.riga-grigia{
	background: #F7F7F7 0% 0% no-repeat padding-box;
}

.riga-azzurra{
	background: #DBEEF7 0% 0% no-repeat padding-box;
}

.riga-totale-grigia{
	background: #BEBEBE 0% 0% no-repeat padding-box;
}

.riga-totale-blu{
	background: #006CB4 0% 0% no-repeat padding-box;
}

.testo-alld{
	text-align: left;
	font: normal normal normal 16px/22px 'Open Sans', sans-serif;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.testo-alld-bold{
	text-align: left;
	font: normal normal bold 16px/22px 'Open Sans', sans-serif;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}


.testo-alld-bold-center{
	text-align: left;
	font: normal normal bold 16px/22px 'Open Sans', sans-serif;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	text-align: center;
}

.testo-totale-bianco-alld{
	text-align: left;
	font: normal normal bold 16px/22px 'Open Sans', sans-serif;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
}
.numeri-alld{
	text-align: right;
	font: normal normal normal 13px/19px 'Open Sans', sans-serif;
	letter-spacing: -0.06px;
	color: #212529;
	opacity: 1;
}

.numeri-bold-alld-white{
	text-align: right;
	font: normal normal bold 13px/19px 'Open Sans', sans-serif;
	letter-spacing: -0.06px;
	color: #ffffff;
}

.numeri-bold-alld{
	text-align: right;
	font: normal normal bold 13px/19px 'Open Sans', sans-serif;
	letter-spacing: -0.06px;
	color: #212529;
}

.casella-numeri{
	width: 20vh;
}

.macrog-title{
	display: inline-flex;
}

::ng-deep .popover {
  width: 50% !important;
}

.redTextOnWhite {
	text-align: right;
	font: normal normal bold 13px/19px 'Open Sans', sans-serif;
	letter-spacing: -0.06px;
	opacity: 1;
	color: #ff0000;
}

.riga-totale-verde{
	background: #dff0d9 0% 0% no-repeat padding-box;
}

.testo-alld-bold-piccolo{
	text-align: left;
	font: normal normal bold 10px/12px 'Open Sans', sans-serif;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}